body {
	font-family: Arial;
	color: #211a1a;
	background-color: #66B032;
	font-size: 0.9em;
}

#shopping-cart {
	margin: 40px;
}

#product-grid {
	margin: 40px;
}

#shopping-cart table {
	width: 100%;
	background-color: #29ffb8;
}

#shopping-cart table td {
	background-color: #dbfff3 ;
}

.txt-heading {
	color: #211a1a;
	border-bottom: 5px solid black;
	overflow: auto;
	font-size: 30px;
}

#btnEmpty {
	background-color: #ffffff;
	border: #d00000 1px solid;
	padding: 5px 10px;
	color: #d00000;
	float: right;
	text-decoration: none;
	border-radius: 3px;
	margin: 10px 0px;
	transition-duration: 0.4s;
}

#btnEmpty:hover {
  background-color: red; 
  color: white;
}

.purchase-btn{
	margin-left: 90%;
}
#btnPurchase{
	background-color: #ffffff;
	border: #d00000 1px solid;
	padding: 5px 10px;
	color: #d00000;
	text-decoration: none;
	border-radius: 3px;
	margin: 10px 0px;
	transition-duration: 0.4s;	
}

.btnAddAction {
  border: none;
  outline: 0;
  padding: 14px 100px;
  color: white;
  background-color: #2fd75b;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
 transition-duration: 0.4s;
}

.btnAddAction:hover {
  background-color:#ff60bd; 
  color: white;
}

#product-grid .txt-heading {
	margin-bottom: 18px;
}
/*
.product-item-card {
	display: inline-block;
	padding: 5px;  
	margin: 30px 70px 0px 0px;
	border-width:7.5px;  
    border-style:inset;
    border-color:#12ffea #c1ffea #c1ffea #00c481;
    background-color:#fff;
	box-shadow:20px 20px #18e0a9; 
	height: 400px;			
	width: 270px;
	margin-bottom: 40px;			
}*/
.product-image {

	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: transparent;
	background-size: 100%;
	justify-content: space-between;
}

.inner-image {
	width: 230px;
	height: 170px;
	justify-content:center;
	align-items: center;
	border: 0px ;
}

.clear-float {
	clear: both;
}

.demo-input-box {
	border-radius: 2px;
	border: #CCC 1px solid;
	padding: 2px 1px;
}

.tbl-cart {
	font-size: 0.9em;
}

.tbl-cart th {
	font-weight: normal;
}

.product-title {
	margin-bottom: 5px;
}

.product-price {
	text-align: center;
	font-size: 20px;
}

.cart-action {
	float: right;
}

.product-quantity {
    padding: 5px 10px;
    border-radius: 3px;
    border: #E0E0E0 1px solid;
    float: right;
    text-align: center;
}

.product-tile-footer {
    padding: 15px 15px 0px 15px;
    overflow: auto;
}

.cart-item-image {
	width: 30px;
    height: 30px;
    border-radius: 50%;
    border: #E0E0E0 1px solid;
    padding: 5px;
    vertical-align: middle;
    margin-right: 15px;
}
.no-records {
	text-align: center;
	clear: both;
	margin: 38px 0px;
}